section {
  display: flex;
  margin-top: px;
  justify-content: center;
  background-color: #FFFCFF;
  background: url(./assets/background.jpg);
  background-size: cover;
}

#container{
  position: relative;
  width: 400px;
  max-width: 800px;
  margin: 1rem;
  padding: 2rem;
  box-shadow: 0 0 40px rgba(0,0,0,0.8);
  border-radius: 50px;
  background: #ffffff;
}


button {
  width: 75px;
  cursor: pointer;
  box-shadow: 0px 0px 2px gray;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

#header {
  padding: 10px;
  color: #7f6315;
  font-size: 26px;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
}
#header button {
  background-color:#e6b225;
}
#container {
  width: 770px;
}
#weekdays {
  width: 100%;
  display: flex;
  color: #4d581e;
}
#weekdays div {
  width: 100px;
  padding: 10px;
}
#calendar {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.day {
  width: 100px;
  padding: 10px;
  height: 100px;
  border-radius:20px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: white;
  margin: 5px;
  box-shadow: 0px 0px 3px #CBD4C2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.day:hover {
  background-color: #e8faed;
}

.day + #currentDay {
  background-color:#e8f4fa;
}
.event {
  font-size: 10px;
  padding: 3px;
  background-color: #58bae4;
  color: white;
  border-radius: 5px;
  max-height: 55px;
  overflow: hidden;
}
.padding {
  cursor: default !important;
  background-color: #FFFCFF !important;
  box-shadow: none !important;
}
#newEventModal, #deleteEventModal {
  display: none;
  z-index: 20;
  padding: 25px;
  background-color: #e8f4fa;
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;
  width: 350px;
  top: 100px;
  left: calc(50% - 175px);
  position: absolute;
  font-family: sans-serif;
}
#eventTitleInput {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 25px;
  border-radius: 3px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px gray;
}
#eventTitleInput.error {
  border: 2px solid red;
}
#cancelButton, #deleteButton {
  background-color: #d36c6c;
}
#saveButton, #closeButton {
  background-color: #92a1d1;
}
#eventText {
  font-size: 14px;
}
#modalBackDrop {
  display: none;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0,0,0,0.8);
}

#button-div{
  display: flex;
}

ul > li {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3px;
}

li > p{
  flex: 1 1 0;
  flex-wrap: wrap;
  width: 0;
  font-size: 15px;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: bold;
}

li > button{
  flex: 1 1 0;
  width: 0;
  border-radius: 20px;
  /* height: 50px;
  width: 30px; */
}

.navbar{
  margin-top: 2vh;
  margin-right: .05vw;
  margin-bottom: 1.6vh;
  box-shadow: 0 0 40px rgba(0,0,0,0.8);
  border-radius: 50px;
  background: #ffffff;
  width: 275px;
  padding: 20px;
  /* align-items: center; */
}

#create-habit{
  border-radius: 8px;
  height: 20px;
  margin-right: 3px;
}

.delete-button-hl {
  background-color: #f00e0e; 
  border: 2px solid #f00e0e;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Libre Franklin', sans-serif;
  color: white;
}

.delete-button-hl:hover {
  background-color: #b53737;
  color: white;
  font-weight: bold;
}

#habit-selector {
  width: 120px;
  height: 21px;
}

h2{
  font-family: 'Libre Franklin', sans-serif;
  text-align: center;
}

habit-form{
  /* display: inline-block; */
  display: flex;
  align-items: center;
}

#submit-button{
  font-family: 'Libre Franklin', sans-serif;
  font-size: 15px;
  font-weight: bold;
  background-color: rgb(144, 235, 144);
  color: green;
  width: 115px;
}

#submit-button:hover {
  background-color: green;
  color: rgb(1, 45, 1);
  font-weight: bold;
}

#check-button, #backButton, #editButton{
    /* display: inline-block;
    vertical-align: middle; */
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    /* box-shadow: 0 0 1px rgba(0, 0, 0, 0); */
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  #check-button:active, #backButton:active, #editButton:active {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

